option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8080                      # Porta que seu container expõe
    NODE_ENV: production
    # Adicione variáveis do Neon DB aqui (se necessário)
    DATABASE_URL= "postgresql://notas_owner:npg_FL47dfhcBEwG@ep-cool-pond-acboijmk.sa-east-1.aws.neon.tech/notas?sslmode=require"
    DATABASE_DIRECT_URL="postgresql://notas_owner:npg_FL47dfhcBEwG@ep-cool-pond-acboijmk-pooler.sa-east-1.aws.neon.tech/notas?sslmode=require"